{% extends 'base.html' %}


{% block title %}
책 매인
{% endblock title %}


{% block content %}


{% for book,reviews in book_data %}
<h1>책 제목:{{book.1}} , 총평:{{book.0}}</h1>
<a href="{% url 'books:detail' pk=book.1.pk %}">자세히보기</a>
{% for review_set in reviews %}
{% for review in review_set %}
<div>
    작성자:{{review.created_by}}
    평점{{review.rating}}
    <p>내용:{{review.text}}</p>
</div>
{% endfor %}
<span>------------------------------</span>
{% endfor %}
{% endfor %}


{% if page != 1 %}
<a href="?page={{page|add:'-1'}}">이전</a>
{% endif %}

{% if page != page_count %}
<a href="?page={{page|add:'1'}}">다음</a>
{% endif %}

{% for page in page_range %}
<a href="?page={{ page }}">{{ page }}</a>
{% endfor %}


{% endblock content %}